$border-radius: 0.25rem;

.no-borders {
  border-radius: 0 !important;
}

.top-left {
  @extend .no-borders;
  border-top-left-radius: $border-radius !important;
}

.top-right {
  @extend .no-borders;
  border-top-right-radius: $border-radius !important;
}

.bottom-left {
  @extend .no-borders;
  border-bottom-left-radius: $border-radius !important;
}

.bottom-right {
  @extend .no-borders;
  border-bottom-right-radius: $border-radius !important;
}