input[type=number] {
  appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.slim-button {
  line-height: 1.0;
  flex: 1;
}