@import "../../../elements/transition";

@include transition(
  round-animation,
  all 100ms ease-out, (
    opacity: 0,
    max-width: 0,
    transform: scaleX(0),
    margin-left: 0 !important
  ), (
    opacity: 1,
    transform: scaleX(1),
    max-width: 60px,
    margin-left: 1rem !important
  )
);

@include transition(
  number-animation,
  all 100ms ease-out, (
    opacity: 0,
    max-width: 0,
    transform: scaleX(0),
    margin-left: 0 !important
  ), (
    opacity: 1,
    transform: scaleX(1),
    max-width: 74px,
    margin-left: 1rem !important
  )
);

@include transition(
  custom-animation,
  all 100ms ease-out, (
    opacity: 0,
    max-width: 0,
    transform: scaleX(0),
    margin-left: 0 !important
  ), (
    opacity: 1,
    transform: scaleX(1),
    max-width: 150px,
    margin-left: 1rem !important
  )
);