.btn-primary {
  background-color: hsl(0, 0, 15%);
  border-width: 0;

  &:not(:disabled):not(.disabled).active {
    background-color: #007bff !important;
  }
}

.btn-group-toggle {
  label.btn {
    width: 100%;
    margin-bottom: 0;

    input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}