@use "sass:color";

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: hsl(0, 0, 15%) !default;
$gray-900: #212529 !default;

$primary: #007bff;

$nav-link-padding-y:  .2rem;
$nav-link-padding-x:  1rem;

$input-bg: darken($gray-900, 30%);
$input-color: $gray-100;

// this doesn't do anything. it just allows me to jump to the file easily in VSCode
$variablesPath: url("/node_modules/bootswatch/dist/darkly/_variables.scss");
$variablesPath: url("/node_modules/bootstrap/scss/_variables.scss");

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.btn {
  &:focus, &.focus {
    box-shadow: none !important;
  }
}

.form-control:disabled {
  // background-color: lighten($color: rgb(33, 37, 41), $amount: 10);
  background-color: black;
  color: grey;
  cursor: not-allowed;
}

html {
  overflow: hidden;
}

body {
  background-color: rgb(58,57,58);
  font-family: "Segoe UI";
  font-size: 12px;
}

button.nav-item {
  background: none;
  padding: 2px 5px;
}

.children-h-100 > * {
  height: 100%;
}