@import "../../elements/transition";

@include transition(
  side-animation,
  all 100ms ease-out, (
    opacity: 0,
    width: 0,
    transform: scaleX(0)
  ), (
    opacity: 1,
    transform: scaleX(1),
    width: 80px
  )
);